# -- GENERAL_OPTIONS
[options]
HoldPkg       = pacman glibc
Architecture  = auto
# --

# -- IGNOREPKG
IgnorePkg = sudo alsa-card-profiles
# --

# -- MISC_OPTIONS
Color
ILoveCandy
CheckSpace
ParallelDownloads = 4
SigLevel    = Required DatabaseOptional
LocalFileSigLevel = Optional
# --

# -- REPOS
Include = ${HOME}/.config/pacman/repo.conf
# --
